.title{
font-family: "Sofia", sans-serif;
color: orange;
font-size: 2.5em;
font-weight: bold;
text-align: center;
-webkit-text-stroke: black 0.5px;
}
.calendarContainer{
display:flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
gap:10px;

}

.months{
    display: grid;
    border: gray 2px solid;
    border-radius: 20px;
    background-color: black;
}
.month{
    grid-template-columns:auto auto auto auto auto auto auto;
}
.monthTitle{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    grid-column: 1/8;
    padding-bottom: 5px;
    padding-top: 10px;
    color: blueviolet;
}
.daysOfWeek{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.daysOfWeek div{

    text-align: center;
    color: purple;
    padding: 10px;
}
.daysContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding-bottom: 20px;
}
.daysContainer div{
    text-align: center;
    color: gray;
}
.holiday{
    color: orange !important;
    font-weight: bold;
}
.rdv{
    color: greenyellow !important;
    font-weight: bold;
}
.congé{
    color: red !important;
    font-weight: bold;
}

@media screen and (min-width:800px) {
    .menuText {
        display: block;
    }
}

